@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}

p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}

.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
}

.header-area {
    position: relative;
    height: 100%;
    background: #5bc0de;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    position: relative;
    color: #295d6d;
    text-align: center;
    z-index: 1;
    background-image: url('/web_project/images/Emergency-dentist.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h1 {
    font-weight: 800;
    font-size: 5rem;
}

.banner p {
    font-weight: 700;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 99999;
}

.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}

#content{
    background-color: #3c879e;
    color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#dental {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    
}
.content_header {
    text-align: center;
}
h1.content_header  {
    font-size: 36px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.content_text{
    text-align: justify;
}

#content_emergency{
    padding: 60px 0;
}

#content_emergency h1{
    color: #295d6d;         
    font-size: 36px;
    
}

#content_emergency p{
    color: #3c879e;
    padding-top: 10px;
    font-size: 1.65rem;  
}

#content_emergency a {
    background-color: #fff;
    border: 2px solid #3c879e;
    color: #3c879e;
    border-radius: 40px;
    text-decoration: none;
}

#content_emergency a:hover {
    color: #fff;
    background-color: #3c879e;
}

#gallery-header{
    background-color: #3c879e;
}
#gallery-header h1 {
    margin: 0 0 0 0;
    padding-top: 8rem;
    color: #fff;
    font-size: 36px;
}


#gallery {
    background-color: #3c879e;
    padding: 130px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.7s;
}

.image-container span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-wrapper {
    position: relative;
    width: 80%;
}

#back{
    background-color: #3c879e;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}

#next{
    background-color: #3c879e;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    left: 4%;
}

#faq{
    height: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 36px;
    margin: 1rem 0rem;
    color: #295d6d;
    text-align: center;
}

.faq-container {
    width: 60%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #295d6d;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question h3{
    font-size: 2rem;
    color: #295d6d;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.6rem;
}

.faq-container.active .answer{
    max-height: 300px;
}

.faq-container.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
footer ul{
	list-style: none;
    position: relative;
    right: 40px; 
}
.footer{
	background-color: #3c879e;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #214c5a;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #e0dfdf;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #214c5a;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



